.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
  background-color: black;  
}

body {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #020202;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(3, 85, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  color:white;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(3, 85, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(56, 55, 55);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 254, 254, 0.993);
  margin: 20px;
  width: 400px;
  color:rgb(253, 255, 253);
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid rgb(7, 73, 0);
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
}


.home {
  color:rgb(1, 1, 1);
  background-color: rgba(19, 19, 19, 0.3);
  /* padding: 20px; */
  /* height: 10px; */
  position: relative; /* Add this to allow z-index to work */
  z-index: 1;
  align-items: center;
  margin-top: 300px; /* Adjust the margin as needed */
  
}

.savedrec {
  color: rgb(255, 255, 255);
}
.c {
  color:rgb(50, 253, 18);
}


.overlay {
  position: relative; /* Change to relative */
  width: 100%;
  height: 100%;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('top-view-circular-food-frame.jpg') center/cover no-repeat fixed;
  opacity: 0.8; /* Adjust the opacity as needed */
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 1px; /* Adjust the margin as needed */
  color: rgb(50, 253, 18);
  background-color: rgba(0, 0, 0, 0.5);
  /* Additional styling for your content */
}